.phoneContainer {
  /* Simulate an iPhone container */
  width: 100%;
  max-width: min(375px, 95vw);
  height: 100%;
  aspect-ratio: 375 / 812;
  max-height: min(812px, 95vh);
  background: #fefefe;
  border: 3px solid #000;
  border-radius: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  margin: .5rem;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow-y: auto;
}

.volumeButtons {
  position: absolute;
  top: 26%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.volumeButton {
  width: 4px;
  height: 45px;
  background-color: #000;
  border-radius: 2px;
  margin-left: -6px;
}

.volumeButton:first-child {
  height: 30px;
}

.powerButton {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  width: 6px;
  height: 70px;
  background-color: #000;
  border-radius: 3px;
  margin-right: -6px;
}