.chatWindow {
  flex: 1;
  padding: 16px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: #ffffff;
}

/* Always hide scrollbars for chatWindow */
.chatWindow {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.chatWindow::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}