.header {
  /* background: radial-gradient(circle, #000 0%, #100 100%); */
  border-radius: 20px 20px 0 0;
  color: #ffffff;
  background-color: #AAA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.logo {
  margin-right: 8px;
}

.title {
  align-items: end;
  font-weight: bold;
  font-size: 26px;
}

.phoneNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  border: none;
  transition: transform 0.1s ease;
}

.backButton:active {
  transform: translateY(-50%) scale(0.95);
}

.restartButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 26px;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border: none;
  transition: transform 0.1s ease;
  animation: pulse 1.5s infinite;
}

.restartButton:active {
  transform: translateY(-50%) scale(0.95);
}

@keyframes pulse {
  0% {
    transform: translateY(-50%) scale(1);
  }
  50% {
    transform: translateY(-50%) scale(1.2);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}