.header {
  background: radial-gradient(circle, #000 0%, #100 100%);
  border-radius: 20px 20px 0 0;
  color: #ffffff;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;

}

.logoContainer {
  display: flex;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 26px;
}

.phoneNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  border: none;
  transition: transform 0.1s ease;
}

.backButton:active {
  transform: translateY(-50%) scale(0.95);
}