.header {
  background: radial-gradient(circle, #000 0%, #100 100%);
  border-radius: 20px 20px 0 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 26px;
}

.phoneNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #fff;
}